<h1>ログイン</h1>

<%= form_with url: login_path, method: :post, local: true do |f| %>
  <p>
    <%= label_tag :username, 'ユーザ名' %><br>
    <%= text_field_tag :username %>
  </p>

  <p>
    <%= label_tag :password, 'パスワード' %><br>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= submit_tag 'ログイン', class: 'btn btn-primary' %>
  </p>
<% end %>

<p>
  アカウントをお持ちでない方は
  <%= link_to '新規登録', new_user_path %> へ
</p>