<h2>つぶやき一覧</h2>

<% if session[:login_uid] %>
  <p>ようこそ <%= @user.uid %> さん！</p>
  <%= form_with url: "/tweets", method: :post do |f| %>
    <%= f.text_field :message, placeholder: "いまどうしてる？" %>
    <%= f.submit "ツイート" %>
  <% end %>
  <%= link_to "ログアウト", logout_path, method: :delete %>
<% else %>
  <p><%= link_to "ログイン", login_path %></p>
<% end %>

<hr>

<% @tweets.each do |tweet| %>
  <p>
    <% if tweet.user %>
      <strong><%= tweet.user.uid %>:</strong> 
    <% else %>
      <strong>（不明なユーザー）:</strong>
    <% end %>
    <%= tweet.message %><br>

    <% if session[:login_uid] %>
      <% if tweet.likes.find_by(user_id: session[:login_uid]) %>
        <%= link_to "いいね解除", unlike_tweet_path(tweet), method: :post %>
      <% else %>
        <%= link_to "いいね", like_tweet_path(tweet), method: :post %>
      <% end %>
    <% end %>
  </p>
<% end %>
