<h2><%= @user.name %> さんのプロフィール</h2>

<p><strong>ユーザーID:</strong> <%= @user.uid %></p>
<p><strong>自己紹介:</strong><br><%= simple_format(@user.bio) %></p>

<% if session[:login_uid] == @user.id %>
  <p><%= link_to "プロフィールを編集", edit_user_path(@user) %></p>
<% end %>

<p><%= link_to "トップに戻る", root_path %></p>
